---
---

@import "minima";

.project-state {
    padding-left: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    &.wip {
        border-left: 4px solid #ff3333;
    }
    &.finished {
        border-left: 4px solid #5cd709;
    }
}

figure.highlight {
    & > pre {
        padding: 0;
    }
    code {
        table, pre {
            border: none;
            margin-bottom: 0;
            font-size: 12px;
        }
        td {
            padding: 0;
            border: none;
        }
    }
}