---
layout: page
---

{%- include tags.html tags=page.tags -%}

{%- if page.state == "wip" -%}
  <p class="project-state wip">
    <strong>Achtung:</strong> Dieses Projekt ist noch nicht abgeschlossen. Alle hier aufgeführten Informationen, Schaltpläne und Code sind daher mit Vorsicht zu genießen und funktionieren unter Umständen noch nicht richtig.
  </p>
{%- elsif page.state == "finished" -%}
  <p class="project-state finished">
    Dieses Projekt ist abgeschlossen und so in Verwendung wie hier beschrieben.
  </p>
{%- endif -%}

{{- content -}}

{%- assign folder_path = page.path | split:"/" | pop -%}
{%- assign folder_path = folder_path | join:"/" -%}

{%- assign files = site.static_files | where_exp:"file","file.path contains folder_path" -%}
{%- assign num_files = files | size -%}

{%- if num_files > 0 -%}
<h2>Downloads und weitere Dateien</h2>
<p>
  Alle Dateien befinden sich in meinem GitHub Repository
  im Ordner
  <a href="https://github.com/{{ site.repository }}/blob/master/{{ folder_path }}">{{ folder_path }}</a>.
</p>

<p>Enthaltene Dateien:</p>
<ul>
{%- for file in files -%}
  <li><a href="https://github.com/{{ site.repository }}/blob/master/{{ file.path }}">{{ file.path | remove_first: "/" | remove_first: folder_path | remove_first: "/" }}</a></li>
{%- endfor -%}
</ul>
{%- endif -%}

{%- if page.related_projects -%}
  <h2>Ähnliche/Zugehörige Projekte</h2>
  <ul>
    {%- for related_project_permalink in page.related_projects -%}
      {%- assign related_project = site.html_pages | where_exp: "page", "page.permalink == related_project_permalink" | first -%}
      <li><a href="{{ related_project.url | relative_url }}">{{ related_project.title }}</a></li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{%- if page.latex -%}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      inlineMath: [['$','$']]
    }
  });
</script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{%- endif -%}